@use '../../scss/' as *;
.header.fixed{
    position: fixed;
    background-color: $background-web;
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $white;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: width 300ms linear;
    }
}
.header{
    width: 100%;
    position: absolute;
    background-color:transparent;
    z-index: 99;
    transition: background-color 300ms linear;
    
    &::before{
        content: '';
        position: absolute;
        width: 0;
        height: 2.5px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        
    }
    .header-flex{ 
    @include flex(center,space-between);
    margin: 0 30px;
     &-tablet{
      @include flex(center,center);
      &>*{
          margin-right: 10px;
      }
     }
    }
    
     &-branch{
         padding: 1.3rem 0;
         font-size: 1.5rem;
         font-family: $font-secondary;
         :first-child{
             color: $white;
         }
         :last-child{
             color:$red;
         }
     }
     &-nav-list{
        @include flex(center,null);
        font-family: $font-primary;
        font-size: 0.935rem;
       
        &>*{
            font-weight: 600;
            margin-right: 2.5rem;
            cursor: pointer;
            color: $white;
            @include desktop{
                margin-right:1.5rem;
            }
               
        }
        :last-child{
            margin-right: 0;
        }

         .active{
          color: $red;
              
    }
      
        @include tablet{
            &>*{
                margin-right: 1rem;
            }
        }
       @include tablet{
        &>*{
            display: none;
        }
        .search{
            display: block;
        }
        
       }
       
        .genre{
            position: relative;
                &-list{
                    position: absolute;
                    width: 190px;
                    background-color: $white;
                    left: -20px;
                    top: calc(100% + 5px);
                    padding: 10px 0;
                    transition: opacity 150ms linear,transform 150ms linear ;
                    &::before{
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 30px;
                        top: -25px;
                    }
                }
                &-item{
                    padding: 10px 20px;
                    color: $black;
                    font-weight: 500;
                    &:hover{
                        color: $red;
                    }
                    // text-align: right;
                }
                
        }
        
     }
     &-bar{
         display: none;
         @include tablet{
             display: block;
             font-size: 2rem;
             color:$red;
             line-height: 0.6;
             cursor: pointer;
         }
     }

     }
